<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108946371041-s2r60u90uiu3a0mgfrtjdaua0ujjk37t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108946371041-s2r60u90uiu3a0mgfrtjdaua0ujjk37t</string>
	<key>API_KEY</key>
	<string>AIzaSyBbchfq-perV5MWK9fh-BIUks9uI-dKe_0</string>
	<key>GCM_SENDER_ID</key>
	<string>108946371041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>project-2-eead4</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2-eead4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108946371041:ios:13a8e9036a04717b32e2a0</string>
</dict>
</plist>